# Data Cleaning

In [3]:
# Start by importing numpy and pandas
import numpy as np
import pandas as pd

In [465]:
# Created a variable to work with the file 
# Read in the customer data file and load its contents into the pandas dataframe
# Used the input function to get the user input from the keyboard
df1 = pd.read_csv(input(''))
# Called on the variable to view the dataframe
df1
# customer_list_updated.csv

 customer_list_updated.csv

       cust_id|date|time|name|email|phone|sms-opt-out
0    1|2023-03-15|08:45:12|Rachel|rachel@centralper...
1    2|2023-05-22|12:30:45|R&! Geller|rossg@central...
2    3|2023-07-09|18:15:27|Monica Geller|chefmonica...
3    4|2023-09-01|21:05:33|Chandler Bing|chandlerb@...
4    5|2023-11-18|14:22:10|Joey|howyoudoing@central...
..                                                 ...
516  517|2024-02-15|11:30:30|Perry the Platypus|age...
517  518|2024-05-01|15:55:45|Baljeet|baljeet@danvil...
518  519|2023-03-05|09:20:00|Buford|buford@danville...
519  520|2023-05-18|13:45:15|Vanessa D.^|vanessa@da...
520  521|2023-08-01|18:10:30|Linda Flynn-Fletcher|l...

[521 rows x 1 columns]

*To load the data as a DataFrame will use the above code*
*Asking the user to input the file name for the file to be processed*
*Assign to a variable to save it into a dataframe*
*The data is in an awkward format will need to separate customer records into columns*

In [467]:
# To separate the data into columns I used the sep parameter which speicifies the delimiter that separates the values in the file by telling pandas that the columns in the file are separated by pipes instead of commas.
df1 = pd.read_csv(input(''), sep = '|')
# Called on the variable to view the dataframe again
df1
#customer_list_updated.csv

 customer_list_updated.csv

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.^,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

*In order to separate the customer recordsinto columns I used the separator parameter to display the values without the pipe symbol*
*Each record is then separated where the pipe symbol is located and separated into their perspective columns*
*Now, if I do it this way, I can make it easier to preview the data*
*Finally, call on the variable to display*

In [468]:
# Using the info method to get a summary of the dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cust_id       521 non-null    int64
 1   date          521 non-null    object
 2   time          521 non-null    object
 3   name          521 non-null    object
 4   email         521 non-null    object
 5   phone         520 non-null    object
 6   sms-opt-out   520 non-null    object
dtypes: int64(1), object(6)
memory usage: 28.6+ KB

*Checking the structure after having separated the customer records into columns using the info attribute*
*This will show the summary infromation about df1 to help me identify any irregularities in the columns*
*Here I can tell I have 521 records*
*I can tell have a total of 7 columns*
*The Dtype for most of this data is string except for the customer id which an integer of 64 bytes*
*The amount of non-null values or any value that is not none is 521 entries compared to 520 non null values in the message opt out column where there could be a missing value and 520 phone non null values in phone,
which means there could be a missing phone number in that column*
*I will then need to check the contents*

In [469]:
# To view the first 50 rows of the dataframe
df1.head(51)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
5,6,2024-01-05,10:55:49,P&! Buffay,smellycat@centralperk.coffee,212-555-1006,N
6,7,2024-02-14,16:40:05,Gunther,gunther@centralperk.coffee,212-555-1007,N
7,8,2023-04-20,09:15:30,Janice,ohmygod@centralperk.coffee,212-555-1008,N
8,9,2023-06-30,13:50:55,Mike H.^,mike@centralperk.coffee,212-555-1009,N
9,10,2023-08-25,17:25:10,Emily,emily@centralperk.coffee,212-555-1010,N
10,11,2023-04-12,09:20:30,Walter White,heisenberg@lospolloshermanos.biz,505-555-2001,N
11,12,2023-06-25,13:45:50,Jesse Pinkman,jesse@lospolloshermanos.biz,505-555-2002,N
12,13,2023-08-03,17:30:15,Skyler W.^,skyler@lospolloshermanos.biz,505-555-2003,Y
13,14,2023-10-19,20:05:40,Saul Goodman,bettercallsaul@lospolloshermanos.biz,505-555-2004,N
14,15,2024-02-28,11:15:25,H&! Schrader,hank@lospolloshermanos.biz,505-555-2005,N
15,16,2024-03-10,15:50:35,Gus Fring,gus@lospolloshermanos.biz,505-555-2006,N
16,17,2024-04-22,19:25:50,Mike E.^,mike@lospolloshermanos.biz,505-555-2007,N
17,18,2023-05-14,10:30:45,Marie S.^,marie@lospolloshermanos.biz,505-555-2008,N
18,19,2023-07-27,14:05:00,Todd,todd@lospolloshermanos.biz,505-555-2009,N
19,20,2023-09-09,18:40:15,Lydia R.^,lydia@lospolloshermanos.biz,505-555-2010,N
20,21,2023-01-05,06:15:20,Jon Snow,knowsnothing@westeros.kingdom,123-555-3001,N
21,22,2023-02-18,10:40:35,Daenerys T.^,dragonqueen@westeros.kingdom,123-555-3002,N
22,23,2023-04-22,14:05:50,Tyrion L.^,theimp@westeros.kingdom,123-555-3003,Y
23,24,2023-06-30,18:30:10,Arya Stark,noface@westeros.kingdom,123-555-3004,N
24,25,2023-08-15,22:55:25,Sansa S.^,queenofthenorth@westeros.kingdom,123-555-3005,N
25,26,2023-10-28,07:20:40,Cersei L.^,queenregent@westeros.kingdom,123-555-3006,N
26,27,2023-12-12,11:45:55,J&! Lannister,kingslayer@westeros.kingdom,123-555-3007,N
27,28,2023-03-03,08:10:15,Bran Stark,threeeyedraven@westeros.kingdom,123-555-3008,N
28,29,2023-05-17,12:35:30,Samwell T.^,maester@westeros.kingdom,123-555-3009,N
29,30,2023-07-29,16:00:45,Brienne,brienne@westeros.kingdom,123-555-3010,N
30,31,2023-03-10,09:25:30,Homer S.^,donuts@springfield.power,636-555-4001,N
31,32,2023-05-05,13:50:45,Marge,marge@springfield.power,636-555-4002,N
32,33,2023-07-20,18:15:00,Bart,elbarto@springfield.power,636-555-4003,N
33,34,2023-09-15,22:40:15,Lisa S.^,saxgirl@springfield.power,636-555-4004,Y
34,35,2023-11-08,07:05:30,Maggie,maggie@springfield.power,636-555-4005,N
35,36,2024-01-25,11:30:45,Ned Flanders,ned@springfield.power,636-555-4006,N
36,37,2024-03-18,15:55:00,Mr&! Burns,monty@springfield.power,636-555-4007,N
37,38,2023-04-22,10:20:15,Krusty,krusty@springfield.power,636-555-4008,N
38,39,2023-06-14,14:45:30,Chief Wiggum,wiggum@springfield.power,636-555-4009,N
39,40,2023-08-27,19:10:45,Milhouse,milhouse@springfield.power,636-555-4010,N
40,41,2023-02-12,08:35:15,Michael Scott,mscott@dundermifflin.com,570-555-5001,N
41,42,2023-04-28,12:00:30,Jim H.^,jim@dundermifflin.com,570-555-5002,N
42,43,2023-07-05,16:25:45,Pam Beesly,pam@dundermifflin.com,570-555-5003,Y
43,44,2023-09-22,20:50:00,Dwight Schrute,dwight@dundermifflin.com,570-555-5004,N
44,45,2023-11-30,06:15:15,Angela M.^,angela@dundermifflin.com,570-555-5005,N
45,46,2024-02-14,10:40:30,Kevin M.^,kevin@dundermifflin.com,570-555-5006,N
46,47,2024-04-01,15:05:45,Stanley H.^,stanley@dundermifflin.com,570-555-5007,N
47,48,2023-03-18,09:30:00,Andy B.^,andy@dundermifflin.com,570-555-5008,N
48,49,2023-05-25,13:55:15,Oscar M.^,oscar@dundermifflin.com,570-555-5009,N
49,50,2023-08-10,18:20:30,Creed,creed@dundermifflin.com,570-555-5010,N
50,51,2023-03-22,07:15:20,Eleven,eleven@hawkins.ind,219-555-6001,N

*looking at the first 50 records with .head() attribute. With this, I'm able to see that the name values have stray characters*
*Will need to take out the caret symbol(^),([']) also the (&!) symbols*
*Format the phone numbers correctly*
*Decide what to do with the missing values in phone column and the message opt out column*

In [470]:
# Replacing the stray characters in the dataframe
df1["name"] = df1["name"].str.replace("^","")
df1

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R&! Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

*I replaced the caret symbol (^) first by pulling the name column in brackets, this will specify the column I want to make changes to*
*I then applied the .str method to allow me to apply string functions to the entire column which contains strings along with the. replace method to replace the caret symbol with nothing since its at the very end of the name string.*
*I then went ahead and assigned it back to the same datafram and same column to save the changes*
*Finally I called on it to view the output*

In [471]:
# Replacing more stray character in the dataframe
df1["name"] = df1["name"].str.replace("&!",".")
df1

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

*I then replaced the (&) and (!) symbol together since I seen that both of them are together for the first 50 records.* 
*This time I replaced it with a period since I noticed they were in between a first intial followed by a last name*
*I again pulled up the name column in brackets, this will specify the column I want to make changes to*
*I then applied the .str method to allow me to apply string functions to the entire column which contains strings along with the. replace method*
*I then went ahead and assigned it to the same dataframe and same column to save the changes*
*Finally, I called on it to view the output*

In [472]:
# Noticed another stray character
df1.head(301)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
296,297,2023-03-21,13:35:40,Kira Nerys,kira@ds9.starfleet,247-555-2302,N
297,298,2023-05-04,17:00:55,Odo,odo@ds9.starfleet,247-555-2303,N
298,299,2023-06-17,20:25:10,Jadzia Dax,dax@ds9.starfleet,247-555-2304,N
299,300,2023-07-30,08:50:25,Julian Bashir,bashir@ds9.starfleet,247-555-2305,Y
300,301,2023-09-12,12:15:40,Miles O[']Brien,obrien@ds9.starfleet,NaN,NaN

In [473]:
# Replacing the stray character I found
df1["name"] = df1["name"].str.replace("[']","'")
df1

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

In [474]:
# Checking to see that its corrected
df1.head(301)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
296,297,2023-03-21,13:35:40,Kira Nerys,kira@ds9.starfleet,247-555-2302,N
297,298,2023-05-04,17:00:55,Odo,odo@ds9.starfleet,247-555-2303,N
298,299,2023-06-17,20:25:10,Jadzia Dax,dax@ds9.starfleet,247-555-2304,N
299,300,2023-07-30,08:50:25,Julian Bashir,bashir@ds9.starfleet,247-555-2305,Y
300,301,2023-09-12,12:15:40,Miles O'Brien,obrien@ds9.starfleet,NaN,NaN

*I then replaced the bracket with the apstrophe symbol with just the 'or apostrophe in between O and Brien.*
*I again pulled up the name column in brackets, this will specify the column I want to make changes to*
*I then applied the .str method to allow me to apply string functions to the entire column which contains strings along with the. replace method*
*I then went ahead and assigned it to the same dataframe and same column to save the changes*
*Finally, I called on it to view the output

In [475]:
# Using the .astype method to convert the dta type of phone to convert the values into strings because the phone numbers contain special characters and treated them as text
# I also got an error if I did not convert them as maybe they were stored as numerical values
df1["phone"] = df1["phone"].astype(str)
df1

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

*I converted the column to a specific data type in this case to a string to make sure it's treated as a string to handle formatting.*
*Then assigned it back to the phone column in the dataframe*

In [476]:
# I use a loop to iterate over the phone column and used i for each phone number. 
for i in df1["phone"]:
    # print each individual phone number
    print(i)
    # for each phone number print the length of characters
    print(len(i))

212-555-1001
12
212-555-1002
12
212-555-1003
12
212-555-1004
12
212-555-1005
12
212-555-1006
12
212-555-1007
12
212-555-1008
12
212-555-1009
12
212-555-1010
12
505-555-2001
12
505-555-2002
12
505-555-2003
12
505-555-2004
12
505-555-2005
12
505-555-2006
12
505-555-2007
12
505-555-2008
12
505-555-2009
12
505-555-2010
12
123-555-3001
12
123-555-3002
12
123-555-3003
12
123-555-3004
12
123-555-3005
12
123-555-3006
12
123-555-3007
12
123-555-3008
12
123-555-3009
12
123-555-3010
12
636-555-4001
12
636-555-4002
12
636-555-4003
12
636-555-4004
12
636-555-4005
12
636-555-4006
12
636-555-4007
12
636-555-4008
12
636-555-4009
12
636-555-4010
12
570-555-5001
12
570-555-5002
12
570-555-5003
12
570-555-5004
12
570-555-5005
12
570-555-5006
12
570-555-5007
12
570-555-5008
12
570-555-5009
12
570-555-5010
12
219-555-6001
12
219-555-6002
12
219-555-6003
12
219-555-6004
12
219-555-6005
12
317-555-7001
12
317-555-7002
12
317-555-7003
12
317-555-7004
12
317-555-7005
12
718-555-8001
12
718-555-8002
12
718-555-8003
12
718-555-8004
12
718-555-8005
12
303-555-9001
12
303-555-9002
12
303-555-9003
12
303-555-9004
12
303-555-9005
12
303-555-9006
12
303-555-9007
12
303-555-9008
12
303-555-9009
12
303-555-9010
12
202-555-9101
12
202-555-9102
12
202-555-9103
12
202-555-9104
12
202-555-9105
12
202-555-9106
12
202-555-9107
12
202-555-9108
12
202-555-9109
12
202-555-9110
12
212-555-9201
12
212-555-9202
12
212-555-9203
12
212-555-9204
12
212-555-9205
12
212-555-9206
12
212-555-9207
12
212-555-9208
12
212-555-9209
12
212-555-9210
12
973-555-9301
12
973-555-9302
12
973-555-9303
12
973-555-9304
12
973-555-9305
12
973-555-9306
12
973-555-9307
12
973-555-9308
12
973-555-9309
12
973-555-9310
12
201-555-9401
12
201-555-9402
12
201-555-9403
12
201-555-9404
12
201-555-9405
12
201-555-9406
12
201-555-9407
12
201-555-9408
12
201-555-9409
12
201-555-9410
12
412-555-9501
12
412-555-9502
12
412-555-9503
12
412-555-9504
12
412-555-9505
12
412-555-9506
12
412-555-9507
12
412-555-9508
12
412-555-9509
12
412-555-9510
12
716-555-9601
12
716-555-9602
12
716-555-9603
12
716-555-9604
12
716-555-9605
12
716-555-9606
12
716-555-9607
12
716-555-9608
12
716-555-9609
12
716-555-9610
12
213-555-9701
12
213-555-9702
12
213-555-9703
12
213-555-9704
12
213-555-9705
12
213-555-9706
12
213-555-9707
12
213-555-9708
12
213-555-9709
12
213-555-9710
12
414-555-9801
12
414-555-9802
12
414-555-9803
12
414-555-9804
12
414-555-9805
12
414-555-9806
12
414-555-9807
12
414-555-9808
12
414-555-9809
12
414-555-9810
12
213-555-9901
12
213-555-9902
12
213-555-9903
12
213-555-9904
12
213-555-9905
12
213-555-9906
12
213-555-9907
12
213-555-9908
12
213-555-9909
12
213-555-9910
12
404-555-1001
12
404-555-1002
12
404-555-1003
12
404-555-1004
12
404-555-1005
12
404-555-1006
12
404-555-1007
12
404-555-1008
12
404-555-1009
12
404-555-1010
12
313-555-1101
12
313-555-1102
12
313-555-1103
12
313-555-1104
12
313-555-1105
12
313-555-1106
12
313-555-1107
12
313-555-1108
12
313-555-1109
12
313-555-1110
12
202-555-1201
12
202-555-1202
12
202-555-1203
12
202-555-1204
12
202-555-1205
12
202-555-1206
12
202-555-1207
12
202-555-1208
12
202-555-1209
12
202-555-1210
12
212-555-1301
12
212-555-1302
12
212-555-1303
12
212-555-1304
12
212-555-1305
12
212-555-1306
12
212-555-1307
12
212-555-1308
12
212-555-1309
12
212-555-1310
12
310-555-1401
12
310-555-1402
12
310-555-1403
12
310-555-1404
12
310-555-1405
12
310-555-1406
12
310-555-1407
12
310-555-1408
12
310-555-1409
12
310-555-1410
12
206-555-1501
12
206-555-1502
12
206-555-1503
12
206-555-1504
12
206-555-1505
12
206-555-1506
12
206-555-1507
12
206-555-1508
12
206-555-1509
12
206-555-1510
12
305-555-1601
12
305-555-1602
12
305-555-1603
12
305-555-1604
12
305-555-1605
12
305-555-1606
12
305-555-1607
12
305-555-1608
12
305-555-1609
12
305-555-1610
12
607-555-1701
12
607-555-1702
12
607-555-1703
12
607-555-1704
12
607-555-1705
12
607-555-1706
12
607-555-1707
12
607-555-1708
12
607-555-1709
12
607-555-1710
12
480-555-1801
12
480-555-1802
12
480-555-1803
12
480-555-1804
12
480-555-1805
12
480-555-1806
12
480-555-1807
12
480-555-1808
12
480-555-1809
12
480-555-1810
12
323-555-1901
12
323-555-1902
12
323-555-1903
12
323-555-1904
12
323-555-1905
12
323-555-1906
12
323-555-1907
12
323-555-1908
12
323-555-1909
12
323-555-1910
12
949-555-2001
12
949-555-2002
12
949-555-2003
12
949-555-2004
12
949-555-2005
12
949-555-2006
12
949-555-2007
12
949-555-2008
12
949-555-2009
12
949-555-2010
12
918-555-2101
12
918-555-2102
12
918-555-2103
12
918-555-2104
12
918-555-2105
12
918-555-2106
12
918-555-2107
12
918-555-2108
12
918-555-2109
12
918-555-2110
12
1701-555-2201
13
1701-555-2202
13
1701-555-2203
13
1701-555-2204
13
1701-555-2205
13
1701-555-2206
13
1701-555-2207
13
1701-555-2208
13
1701-555-2209
13
1701-555-2210
13
247-555-2301
12
247-555-2302
12
247-555-2303
12
247-555-2304
12
247-555-2305
12
nan
3
805-555-1101
12
805-555-1102
12
805-555-1103
12
805-555-1104
12
805-555-1105
12
805-555-1106
12
805-555-1107
12
805-555-1108
12
805-555-1109
12
805-555-1110
12
042-555-1201
12
042-555-1202
12
042-555-1203
12
042-555-1204
12
042-555-1205
12
042-555-1206
12
042-555-1207
12
042-555-1208
12
042-555-1209
12
042-555-1210
12
202-555-1301
12
202-555-1302
12
202-555-1303
12
202-555-1304
12
202-555-1305
12
202-555-1306
12
202-555-1307
12
202-555-1308
12
202-555-1309
12
202-555-1310
12
808-555-1401
12
808-555-1402
12
808-555-1403
12
808-555-1404
12
808-555-1405
12
808-555-1406
12
808-555-1407
12
808-555-1408
12
808-555-1409
12
808-555-1410
12
626-555-1501
12
626-555-1502
12
626-555-1503
12
626-555-1504
12
626-555-1505
12
626-555-1506
12
626-555-1507
12
626-555-1508
12
626-555-1509
12
626-555-1510
12
206-555-1601
12
206-555-1602
12
206-555-1603
12
206-555-1604
12
206-555-1605
12
206-555-1606
12
206-555-1607
12
206-555-1608
12
206-555-1609
12
206-555-1610
12
914-555-1701
12
914-555-1702
12
914-555-1703
12
914-555-1704
12
914-555-1705
12
914-555-1706
12
914-555-1707
12
914-555-1708
12
914-555-1709
12
914-555-1710
12
202-555-1801
12
202-555-1802
12
202-555-1803
12
202-555-1804
12
202-555-1805
12
202-555-1806
12
202-555-1807
12
202-555-1808
12
202-555-1809
12
202-555-1810
12
212-555-1901
12
212-555-1902
12
212-555-1903
12
212-555-1904
12
212-555-1905
12
212-555-1906
12
212-555-1907
12
212-555-1908
12
212-555-1909
12
212-555-1910
12
305-555-2001
12
305-555-2002
12
305-555-2003
12
305-555-2004
12
305-555-2005
12
305-555-2006
12
305-555-2007
12
305-555-2008
12
305-555-2009
12
305-555-2010
12
212-555-2101
12
212-555-2102
12
212-555-2103
12
212-555-2104
12
212-555-2105
12
212-555-2106
12
212-555-2107
12
212-555-2108
12
212-555-2109
12
212-555-2110
12
212-555-2201
12
212-555-2202
12
212-555-2203
12
212-555-2204
12
212-555-2205
12
212-555-2206
12
212-555-2207
12
212-555-2208
12
212-555-2209
12
212-555-2210
12
617-555-2301
12
617-555-2302
12
617-555-2303
12
617-555-2304
12
617-555-2305
12
617-555-2306
12
617-555-2307
12
617-555-2308
12
617-555-2309
12
617-555-2310
12
212-555-2401
12
212-555-2402
12
212-555-2403
12
212-555-2404
12
212-555-2405
12
212-555-2406
12
212-555-2407
12
212-555-2408
12
212-555-2409
12
212-555-2410
12
212-555-2501
12
212-555-2502
12
212-555-2503
12
212-555-2504
12
212-555-2505
12
212-555-2506
12
212-555-2507
12
212-555-2508
12
212-555-2509
12
212-555-2510
12
505-555-2601
12
505-555-2602
12
505-555-2603
12
505-555-2604
12
505-555-2605
12
505-555-2606
12
505-555-2607
12
505-555-2608
12
505-555-2609
12
505-555-2610
12
410-555-2701
12
410-555-2702
12
410-555-2703
12
410-555-2704
12
410-555-2705
12
410-555-2706
12
410-555-2707
12
410-555-2708
12
410-555-2709
12
410-555-2710
12
201-555-2801
12
201-555-2802
12
201-555-2803
12
201-555-2804
12
201-555-2805
12
201-555-2806
12
201-555-2807
12
201-555-2808
12
201-555-2809
12
201-555-2810
12
212-555-2901
12
212-555-2902
12
212-555-2903
12
212-555-2904
12
212-555-2905
12
212-555-2906
12
212-555-2907
12
212-555-2908
12
212-555-2909
12
212-555-2910
12
212-555-3001
12
212-555-3002
12
212-555-3003
12
212-555-3004
12
212-555-3005
12
212-555-3006
12
212-555-3007
12
212-555-3008
12
212-555-3009
12
212-555-3010
12
555-555-3101
12
555-555-3102
12
555-555-3103
12
555-555-3104
12
555-555-3105
12
555-555-3106
12
555-555-3107
12
555-555-3108
12
555-555-3109
12
555-555-3110
12
555-555-3201
12
555-555-3202
12
555-555-3203
12
555-555-3204
12
555-555-3205
12
555-555-3206
12
555-555-3207
12
555-555-3208
12
555-555-3209
12
555-555-3210
12

*In order to iterate over the phone column, I  need to use a loop so for each phone number I used i.  I then want to print the phone numbers and the length of the individual phone number.*
*Looking over the phone numbers I noticed the standard length of them are 12 characters*

In [477]:
# Again iterate over the phone column I used the same loop, for each phone number I used i.
for i in df1["phone"]:
    # checking to see if the length of each phone number is greater than 12
    if len(i) > 12:
        # print phone numbers if the above conidito is true
        print(i)

1701-555-2201
1701-555-2202
1701-555-2203
1701-555-2204
1701-555-2205
1701-555-2206
1701-555-2207
1701-555-2208
1701-555-2209
1701-555-2210

*Then, I then wanted to see which phone numbers are greater than 12 characters long so I did another loop and to filter or check each phone number I again used i and if this condition is true then the phone numbers that are greater than 12 characters long will print*

In [478]:
# Here I used loc method to find rows where the phone column has more than 12 characters and at the same time modify my original dataframe
# Then applied the lstrip(1) to remove the left character
df1.loc[df1["phone"].str.len() > 12, "phone"] = df1["phone"].str.lstrip("1")
df1

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
516,517,2024-02-15,11:30:30,Perry the Platypus,agentp@danvillekids.com,555-555-3206,N
517,518,2024-05-01,15:55:45,Baljeet,baljeet@danvillekids.com,555-555-3207,N
518,519,2023-03-05,09:20:00,Buford,buford@danvillekids.com,555-555-3208,N
519,520,2023-05-18,13:45:15,Vanessa D.,vanessa@danvillekids.com,555-555-3209,N
520,521,2023-08-01,18:10:30,Linda Flynn-Fletcher,linda@danvillekids.com,555-555-3210,N

*I used the .loc[] to change the values directly in the dataframe without looping through them again and find specific rows where the condition is true and the phone column where I want to change the values, then checking for phone numbers longer than 12 characters and then those phone numbers that are in fact more than 12 characters, the (1) gets strip away.*

In [479]:
# checking to see the output
df1_cleaned.head(289)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
284,285,2024-03-15,12:10:30,Pirate Jenny,jenny@keenecounty.police,918-555-2110,N
285,286,2023-01-01,08:00:00,Jean-Luc Picard,picard@enterprise.starfleet,701-555-2201,N
286,287,2023-02-14,12:25:15,William Riker,riker@enterprise.starfleet,701-555-2202,N
287,288,2023-03-27,15:50:30,Data,data@enterprise.starfleet,701-555-2203,N
288,289,2023-05-10,19:15:45,Geordi La Forge,geordi@enterprise.starfleet,701-555-2204,N

*I want to make sure it did save the changes to the dataframe where it's suppose to.*

In [480]:
# checking to see the output
df1.head(237)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
232,233,2023-12-14,19:25:10,Hannah McKay,hannah@miamimetro.gov,305-555-1608,N
233,234,2024-01-27,07:50:25,Harry Morgan,harry@miamimetro.gov,305-555-1609,N
234,235,2024-03-11,11:15:40,Lumen Pierce,lumen@miamimetro.gov,305-555-1610,N
235,236,2023-03-03,08:45:15,Piper Chapman,piper@litchfield.pen,607-555-1701,N
236,237,2023-04-16,13:10:30,Alex Vause,alex@litchfield.pen,607-555-1702,N

*I want to make sure other numbers containing 1701 did not change*

In [481]:
# checking to see the output
df1.head(363)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
358,359,2024-06-11,19:35:25,Log Lady,loglady@twinpeaks.wa,206-555-1608,N
359,360,2023-02-17,08:00:50,Leland Palmer,leland@twinpeaks.wa,206-555-1609,N
360,361,2023-05-02,13:25:15,Lucy Moran,lucy@twinpeaks.wa,206-555-1610,N
361,362,2023-02-10,08:15:25,Wednesday Addams,wednesday@nevermore.academy,914-555-1701,N
362,363,2023-04-23,12:40:50,Morticia Addams,morticia@nevermore.academy,914-555-1702,N

*Again, I want to make sure other numbers containing 1701 did nto change*

In [482]:
# Dealing with the nan values
df1.head(302)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
297,298,2023-05-04,17:00:55,Odo,odo@ds9.starfleet,247-555-2303,N
298,299,2023-06-17,20:25:10,Jadzia Dax,dax@ds9.starfleet,247-555-2304,N
299,300,2023-07-30,08:50:25,Julian Bashir,bashir@ds9.starfleet,247-555-2305,Y
300,301,2023-09-12,12:15:40,Miles O'Brien,obrien@ds9.starfleet,nan,NaN
301,302,2023-02-14,08:15:25,Buffy Summers,buffy@sunnydale.high,805-555-1101,N

*Based on my info summary I know there is one missing value in the phone column and sms opt out column which from looking at previous output of the dataframe it's the columns for Miles O'Brien.*

In [457]:
# Here I am looking for any string value in the dataframe column for phone that has the word nan and replacing it with unknown
# Then I am saving the changes back to the dataframe under column phone
df1["phone"] = df1["phone"].str.replace("nan", "unknown
# Checking the output of the saved changes
df1.head(302)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
297,298,2023-05-04,17:00:55,Odo,odo@ds9.starfleet,247-555-2303,N
298,299,2023-06-17,20:25:10,Jadzia Dax,dax@ds9.starfleet,247-555-2304,N
299,300,2023-07-30,08:50:25,Julian Bashir,bashir@ds9.starfleet,247-555-2305,Y
300,301,2023-09-12,12:15:40,Miles O'Brien,obrien@ds9.starfleet,unknown,unknown
301,302,2023-02-14,08:15:25,Buffy Summers,buffy@sunnydale.high,805-555-1101,N

*I believe when I converted the phone column into a string, it also turned the missing value to a string, 
because I kept getting an error when I tried using the fillna attribute. It was not reconizing the nan as a missing value
which is why I used replaced instead*

In [458]:
# printing out the list of columns to see if there are any extra white spaces I need to remove
# Which the out shows that there is whitespace in the column for message opt out 
print(df1.columns)

Index(['cust_id', 'date', 'time', 'name', 'email', 'phone', 'sms-opt-out'], dtype='object')

*When I was using the fillna method to change the missing value in the column I kept getting an error message that the column did not exist, so I had to check if in fact it did exit with printing out the column list*

In [485]:
# Here I am pulling up the list of columns again and using the string strip methods to remove white spaces in the column names
# Then to save the changes to the original dataframe I reassigned the columns back to df1
df1.columns = df1.columns.str.strip()
# Checking on the output to make sure it was updated
print(df1.columns)

Index(['cust_id', 'date', 'time', 'name', 'email', 'phone', 'sms-opt-out'], dtype='object')

*Double checking to make sure the white space was removed which is why I decided to print the output*

In [486]:
# Here I used the fillna method to fill in the missing alue in the message opt out colum and used a diction key value set to specify the column name and the value I wanted instead 
# Since I did not create a new table and I needed to save the changes in the original dataframe I used inplace attribute and made that equal to true to change the dataframe directly.
df1.fillna({"sms-opt-out": "unknown"},inplace=True)
# Checking to see the output was indeed saved to the dataframe
df1.head(302)

,cust_id,date,time,name,email,phone,sms-opt-out
0,1,2023-03-15,08:45:12,Rachel,rachel@centralperk.coffee,212-555-1001,N
1,2,2023-05-22,12:30:45,R. Geller,rossg@centralperk.coffee,212-555-1002,N
2,3,2023-07-09,18:15:27,Monica Geller,chefmonica@centralperk.coffee,212-555-1003,N
3,4,2023-09-01,21:05:33,Chandler Bing,chandlerb@centralperk.coffee,212-555-1004,Y
4,5,2023-11-18,14:22:10,Joey,howyoudoing@centralperk.coffee,212-555-1005,N
...,...,...,...,...,...,...,...
297,298,2023-05-04,17:00:55,Odo,odo@ds9.starfleet,247-555-2303,N
298,299,2023-06-17,20:25:10,Jadzia Dax,dax@ds9.starfleet,247-555-2304,N
299,300,2023-07-30,08:50:25,Julian Bashir,bashir@ds9.starfleet,247-555-2305,Y
300,301,2023-09-12,12:15:40,Miles O'Brien,obrien@ds9.starfleet,nan,unknown
301,302,2023-02-14,08:15:25,Buffy Summers,buffy@sunnydale.high,805-555-1101,N

*Based on internet research related to SMS marketing is that you must obtain express written consent from people before sending them promotional text messages or it may lead to lawsuits. Therefore, I reflected these missing values as unknown as we do not have a phone number for Miles O'Brien and without that we do not have a way to obtain consent from him to opt out or in*

In [499]:
# Here I created a variable to specify the path of where the file is I had to open up my file explorer and find the path and pasted it here.
# I had to use the raw string to make sure that the backslahes are not treated as escape characters in the file path
file_path= r"C:\Users\Student\YUU-LearnToCode\DataAnalytics\week_8\Capstone_2\customer_list_export.csv"
# Then I created another variable to hold my file name and to not get confused with the origina file name I renamed it customer list export to easier see that that was the exported file
# customer_list_export.csv
file_name = "customer_list_export.csv"


#I then saved the data from df1 into the csv file at the folder location I specified in the file path using the .to_csv function.
# I also specified to not save the index or row numbers in the saved file
df1.to_csv(file_path, index=False)

# I then created a print statement using the f string format to include the variable I created for the file name and file path in the final status message
print(f" Your file {file_name} is saved in {file_path}")

 Your file customer_list_export.csv is saved in C:\Users\Student\YUU-LearnToCode\DataAnalytics\week_8\Capstone_2\customer_list_export.csv

*Checked to see file path in file explorer and opened up the exported file to confirm*