# Transaction Analysis

In [2]:
# Start by importing numpy, pandas, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
# Created a variable to work with the file
# Read in the transaction data file and load its contents into the pandas dataframe
df2 = pd.read_csv("transaction_data.csv")
# Called on the variable to view the dataframe
df2

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,11016,20,4/10/2025,Anne Dodsworth,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,12.5,15,187.5,15.00,202.50
1349,11016,20,4/10/2025,Anne Dodsworth,36,Inlagd Sill,17,Svensk Sjfda AB,19.0,16,304.0,24.32,328.32
1350,11058,82,4/29/2025,Anne Dodsworth,21,Sir Rodney's Scones,8,"Specialty Biscuits, Ltd.",10.0,3,30.0,2.40,32.40
1351,11058,82,4/29/2025,Anne Dodsworth,60,Camembert Pierrot,28,Gai pturage,34.0,21,714.0,57.12,771.12
1352,11058,82,4/29/2025,Anne Dodsworth,61,Sirop d'rable,29,Forts d'rables,28.5,4,114.0,9.12,123.12

*Here, I have my csv file in a dataframe and quickly glancing at the dataframe I can tell I have 1353 rows and 13 columns*

In [28]:
# To view the first 10 rows of the dataframe I used the .head method
df2.head(10)

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00
5,10293,4,8/29/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,10,36.0,2.88,38.88
6,10293,4,8/29/2023,Nancy Davolio,63,Vegie-spread,7,"Pavlova, Ltd.",35.1,5,175.5,14.04,189.54
7,10293,4,8/29/2023,Nancy Davolio,75,Rhnbru Klosterbier,12,Plutzer Lebensmittelgromrkte AG,6.2,6,37.2,2.98,40.18
8,10304,4,9/12/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,10,440.0,35.20,475.20
9,10304,4,9/12/2023,Nancy Davolio,71,Flotemysost,15,Norske Meierier,17.2,2,34.4,2.75,37.15

*Upon looking at the data I can see that it has repeating values in some columns but overall the data is unorganized by having multiple IDs to identify a certain thing. It looks like there is data for each transaction that was processed by each employee and which customer made the purchase, product name and product ID to identify each product name, vendor name and vendor ID to identify each vendor, along with unitprice, for each product and the quantity that was purchased, subtotal or revenue before taxes, and transaction total for each transaction after taxes are applied and identified by the transaction ID. I also noticed some of the values are integers or floats. I will inspect the data using some other methods.*

In [29]:
# To see the summary info inclduing data types by column using the .info() method
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  1353 non-null   int64
 1   CustID         1353 non-null   int64
 2   Date           1353 non-null   object
 3   Employee       1353 non-null   object
 4   ProductID      1353 non-null   int64
 5   ProductName    1353 non-null   object
 6   VendorID       1353 non-null   int64
 7   ProductVendor  1353 non-null   object
 8   UnitPrice      1353 non-null   float64
 9   Quantity       1353 non-null   int64
 10  Subtotal       1353 non-null   float64
 11  Tax(8%)        1353 non-null   float64
 12  OrderTotal     1353 non-null   float64
dtypes: float64(4), int64(5), object(4)
memory usage: 137.5+ KB

*Upon looking at the info results I can determine there are 1353 records with 13 total columns. Out of those 13 columns 4 columns contain values that are floats, 5 columns contain values that are integers, and 4 columns contain values that are strings or mixed datatypes. All the columns have the same amount of records so it seems like there are no missing values.*

In [30]:
# To see statistics on numeric columns I used the .describe attribute.
df2.describe()

,TransactionID,CustID,ProductID,VendorID,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
count,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000
mean,10661.179601,38.942350,40.389505,14.318551,25.908899,12.631929,324.537568,25.962971,350.500540
std,243.094311,25.056615,22.277628,8.217175,28.613063,6.395421,403.982507,32.318600,436.301107
min,10248.000000,1.000000,1.000000,1.000000,2.000000,1.000000,4.800000,0.380000,5.180000
25%,10454.000000,17.000000,21.000000,7.000000,12.000000,7.000000,100.000000,8.000000,108.000000
50%,10656.000000,35.000000,41.000000,14.000000,18.400000,12.000000,210.000000,16.800000,226.800000
75%,10864.000000,60.000000,60.000000,21.000000,31.230000,20.000000,394.000000,31.520000,425.520000
max,11077.000000,89.000000,77.000000,29.000000,263.500000,24.000000,4216.000000,337.280000,4553.280000

*Upon looking at the statistical summary on numerical data and I get the count for records across 9 columns and they are all the same which means that we do not have any missing values. Then, We have the mean of the values in each column, ( which shows that the average unit price is closer to 26, the average quantity of each item is closer to 6, average subtotal is about 404, average taxes based on 8 percent on a transaction is about 26, and the average order total of each transaction is about 350), then is the standard deviation or the number that shows how spread out the data values are compared to the average in each column,( which looks like the vendor ID number is closer to the mean and the order total is all over the place) then I get the min value of all the values in each column, I also get the max value of all the values in each column at the bottom. Finally, I get the percentiles where the data values of each column falls under ( which the unit price value of 12 falls under the 25 percentile and unit price value of 18 falls under 50 percentile, then the unitprice value of 31 falls under the 75 percentile). Overall, this helps us understand how the data is shaped.*

In [31]:
# To identify the nonunuique records I used the duplicated method()
df2.duplicated()
# to view I called on the first 50 
df2.head(50)

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00
5,10293,4,8/29/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,10,36.0,2.88,38.88
6,10293,4,8/29/2023,Nancy Davolio,63,Vegie-spread,7,"Pavlova, Ltd.",35.1,5,175.5,14.04,189.54
7,10293,4,8/29/2023,Nancy Davolio,75,Rhnbru Klosterbier,12,Plutzer Lebensmittelgromrkte AG,6.2,6,37.2,2.98,40.18
8,10304,4,9/12/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,10,440.0,35.20,475.20
9,10304,4,9/12/2023,Nancy Davolio,71,Flotemysost,15,Norske Meierier,17.2,2,34.4,2.75,37.15
10,10306,5,9/16/2023,Nancy Davolio,30,Nord-Ost Matjeshering,13,Nord-Ost-Fisch Handelsgesellschaft mbH,20.7,10,207.0,16.56,223.56
11,10306,5,9/16/2023,Nancy Davolio,53,Perth Pasties,24,"G'day, Mate",26.2,10,262.0,20.96,282.96
12,10306,5,9/16/2023,Nancy Davolio,54,Tourtire,25,Ma Maison,5.9,5,29.5,2.36,31.86
13,10311,6,9/20/2023,Nancy Davolio,42,Singaporean Hokkien Fried Mee,20,Leka Trading,11.2,6,67.2,5.38,72.58
14,10311,6,9/20/2023,Nancy Davolio,69,Gudbrandsdalsost,15,Norske Meierier,28.8,7,201.6,16.13,217.73
15,10316,7,9/27/2023,Nancy Davolio,41,Jack's New England Clam Chowder,19,New England Seafood Cannery,7.7,10,77.0,6.16,83.16
16,10325,8,10/9/2023,Nancy Davolio,6,Grandma's Boysenberry Spread,3,Grandma Kelly's Homestead,20.0,6,120.0,9.60,129.60
17,10325,8,10/9/2023,Nancy Davolio,13,Konbu,6,Mayumi's,4.8,12,57.6,4.61,62.21
18,10325,8,10/9/2023,Nancy Davolio,14,Tofu,6,Mayumi's,18.6,9,167.4,13.39,180.79
19,10325,8,10/9/2023,Nancy Davolio,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,10.0,4,40.0,3.20,43.20
20,10340,9,10/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,20,1000.0,80.00,1080.00
21,10340,9,10/29/2023,Nancy Davolio,41,Jack's New England Clam Chowder,19,New England Seafood Cannery,7.7,12,92.4,7.39,99.79
22,10351,1,11/11/2023,Nancy Davolio,38,Cte de Blaye,18,Aux joyeux ecclsiastiques,210.8,20,4216.0,337.28,4553.28
23,10351,1,11/11/2023,Nancy Davolio,41,Jack's New England Clam Chowder,19,New England Seafood Cannery,7.7,13,100.1,8.01,108.11
24,10351,1,11/11/2023,Nancy Davolio,65,Louisiana Fiery Hot Pepper Sauce,2,New Orleans Cajun Delights,16.8,10,168.0,13.44,181.44
25,10357,10,11/19/2023,Nancy Davolio,26,Gumbr Gummibrchen,11,Heli Swaren GmbH & Co. KG,24.9,16,398.4,31.87,430.27
26,10357,10,11/19/2023,Nancy Davolio,60,Camembert Pierrot,28,Gai pturage,27.2,8,217.6,17.41,235.01
27,10364,11,11/26/2023,Nancy Davolio,71,Flotemysost,15,Norske Meierier,17.2,5,86.0,6.88,92.88
28,10371,12,12/3/2023,Nancy Davolio,36,Inlagd Sill,17,Svensk Sjfda AB,15.2,6,91.2,7.30,98.50
29,10374,13,12/5/2023,Nancy Davolio,58,Escargots de Bourgogne,27,Escargots Nouveaux,10.6,15,159.0,12.72,171.72
30,10377,14,12/9/2023,Nancy Davolio,28,Rssle Sauerkraut,12,Plutzer Lebensmittelgromrkte AG,36.4,20,728.0,58.24,786.24
31,10377,14,12/9/2023,Nancy Davolio,39,Chartreuse verte,18,Aux joyeux ecclsiastiques,14.4,20,288.0,23.04,311.04
32,10385,15,12/17/2023,Nancy Davolio,7,Uncle Bob's Organic Dried Pears,3,Grandma Kelly's Homestead,24.0,10,240.0,19.20,259.20
33,10385,15,12/17/2023,Nancy Davolio,60,Camembert Pierrot,28,Gai pturage,27.2,20,544.0,43.52,587.52
34,10385,15,12/17/2023,Nancy Davolio,68,Scottish Longbreads,8,"Specialty Biscuits, Ltd.",10.0,8,80.0,6.40,86.40
35,10387,16,12/18/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,15,54.0,4.32,58.32
36,10387,16,12/18/2023,Nancy Davolio,28,Rssle Sauerkraut,12,Plutzer Lebensmittelgromrkte AG,36.4,6,218.4,17.47,235.87
37,10387,16,12/18/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,12,528.0,42.24,570.24
38,10387,16,12/18/2023,Nancy Davolio,71,Flotemysost,15,Norske Meierier,17.2,15,258.0,20.64,278.64
39,10393,17,12/25/2023,Nancy Davolio,25,NuNuCa Nu-Nougat-Creme,11,Heli Swaren GmbH & Co. KG,11.2,7,78.4,6.27,84.67
40,10394,18,12/25/2023,Nancy Davolio,13,Konbu,6,Mayumi's,4.8,10,48.0,3.84,51.84
41,10394,18,12/25/2023,Nancy Davolio,62,Tarte au sucre,29,Forts d'rables,39.4,10,394.0,31.52,425.52
42,10396,19,12/27/2023,Nancy Davolio,72,Mozzarella di Giovanni,14,Formaggi Fortini s.r.l.,27.8,21,583.8,46.70,630.50
43,10400,11,1/1/2024,Nancy Davolio,29,Thringer Rostbratwurst,12,Plutzer Lebensmittelgromrkte AG,99.0,21,2079.0,166.32,2245.32
44,10401,7,1/1/2024,Nancy Davolio,30,Nord-Ost Matjeshering,13,Nord-Ost-Fisch Handelsgesellschaft mbH,20.7,18,372.6,29.81,402.41
45,10401,7,1/1/2024,Nancy Davolio,65,Louisiana Fiery Hot Pepper Sauce,2,New Orleans Cajun Delights,16.8,20,336.0,26.88,362.88
46,10453,20,2/21/2024,Nancy Davolio,48,Chocolade,22,Zaanse Snoepfabriek,10.2,15,153.0,12.24,165.24
47,10465,21,3/5/2024,Nancy Davolio,29,Thringer Rostbratwurst,12,Plutzer Lebensmittelgromrkte AG,99.0,18,1782.0,142.56,1924.56
48,10465,21,3/5/2024,Nancy Davolio,40,Boston Crab Meat,19,New England Seafood Cannery,14.7,20,294.0,23.52,317.52
49,10469,22,3/10/2024,Nancy Davolio,44,Gula Malacca,20,Leka Trading,15.5,2,31.0,2.48,33.48

*Upon inspection I do not see any values that are duplicated except for the transaction ID which could mean a different products were purchase by the same customer and each unit price, quantity, subtotal,tax, and order total was for that specific product in the same or only transaction*

In [32]:
# I wanted to see if any of the rows would drop by using the drop_duplicates method to remove duplicate records
df2.drop_duplicates()

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,11016,20,4/10/2025,Anne Dodsworth,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,12.5,15,187.5,15.00,202.50
1349,11016,20,4/10/2025,Anne Dodsworth,36,Inlagd Sill,17,Svensk Sjfda AB,19.0,16,304.0,24.32,328.32
1350,11058,82,4/29/2025,Anne Dodsworth,21,Sir Rodney's Scones,8,"Specialty Biscuits, Ltd.",10.0,3,30.0,2.40,32.40
1351,11058,82,4/29/2025,Anne Dodsworth,60,Camembert Pierrot,28,Gai pturage,34.0,21,714.0,57.12,771.12
1352,11058,82,4/29/2025,Anne Dodsworth,61,Sirop d'rable,29,Forts d'rables,28.5,4,114.0,9.12,123.12

*However, since no single row shares the same values, the amount of records remain the same.*

In [37]:
# Here I am grouping the data then apply the mean aggregation to Unitprice and Subtotal to get the average price for and average total sales for each product
df2.groupby("ProductID")[["UnitPrice","Subtotal"]].mean()

           UnitPrice    Subtotal
ProductID
1          16.892308  198.830769
2          18.344828  256.041379
3           9.666667  133.333333
4          20.166667  266.566667
5          19.610000  275.330000
...              ...         ...
73         14.333333  183.333333
74          8.888889  143.111111
75          7.290741   91.679630
76         16.992000  213.840000
77         12.064000  140.920000

[77 rows x 2 columns]

*Looking at the dataframe that was returned when I applied this aggregation I see that out of the first 5 records the average total price before taxes for product 5 is the hightest with an average of about 275 and for the last 5 records I can see that the average total price before taxes for product 75 is the lowest with an average of about 92. Which give us the average revenue per product*

In [60]:
# Here I am grouping the data by each customer and then calcuating the average tax and average order total for each customer
df2.groupby("CustID")[["Tax(8%)","OrderTotal"]].mean()

          Tax(8%)   OrderTotal
CustID
1       38.837742   524.304839
2       16.040833   216.545000
3       43.113000   582.025000
4       30.231538   408.121923
5        8.385000   113.191429
...           ...          ...
85      28.890000   390.011538
86       4.030000    54.430000
87      83.940000  1133.206667
88      13.965556   188.543333
89      32.658750   440.896250

[89 rows x 2 columns]

*Upon looking at the dataframe that was returned when I applied this aggregation I see that the average tax on the purchase based on 8 percent is the highest when the average totalprice after taxes is higher.*

# Here I am grouping the data by date and then calculating the total or sum of the subtotal or price before taxes for each date
df2.groupby("Date")["Subtotal"].sum()

*For the first 5 records I see the highest total price or revenue before taxes was on January 1st. For the last 5 records I see the highest otal price or revenue before taxes was on September 8th.*

In [62]:
# For the next aggregataion I created a variable to store a list of two columns to use in my next function
list = ["Quantity","Subtotal"]

In [65]:
# Here I am adding a new column named sum which is the total of quantity and subtotal columns and I want the sum across each row.
df2["Sum"] = df2[list].sum(axis=1)
# Call on the dataframe to view 
df2

,TransactionID,CustID,Date,Employee,ProductID,ProductName,VendorID,ProductVendor,UnitPrice,Quantity,Subtotal,Tax(8%),OrderTotal,Sum
0,10258,1,7/17/2023,Nancy Davolio,32,Mascarpone Fabioli,14,Formaggi Fortini s.r.l.,25.6,6,153.6,12.29,165.89,159.6
1,10275,2,8/7/2023,Nancy Davolio,24,Guaran Fantstica,10,Refrescos Americanas LTDA,3.6,12,43.2,3.46,46.66,55.2
2,10275,2,8/7/2023,Nancy Davolio,59,Raclette Courdavault,28,Gai pturage,44.0,6,264.0,21.12,285.12,270.0
3,10292,3,8/28/2023,Nancy Davolio,20,Sir Rodney's Marmalade,8,"Specialty Biscuits, Ltd.",64.8,20,1296.0,103.68,1399.68,1316.0
4,10293,4,8/29/2023,Nancy Davolio,18,Carnarvon Tigers,7,"Pavlova, Ltd.",50.0,12,600.0,48.00,648.00,612.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,11016,20,4/10/2025,Anne Dodsworth,31,Gorgonzola Telino,14,Formaggi Fortini s.r.l.,12.5,15,187.5,15.00,202.50,202.5
1349,11016,20,4/10/2025,Anne Dodsworth,36,Inlagd Sill,17,Svensk Sjfda AB,19.0,16,304.0,24.32,328.32,320.0
1350,11058,82,4/29/2025,Anne Dodsworth,21,Sir Rodney's Scones,8,"Specialty Biscuits, Ltd.",10.0,3,30.0,2.40,32.40,33.0
1351,11058,82,4/29/2025,Anne Dodsworth,60,Camembert Pierrot,28,Gai pturage,34.0,21,714.0,57.12,771.12,735.0
1352,11058,82,4/29/2025,Anne Dodsworth,61,Sirop d'rable,29,Forts d'rables,28.5,4,114.0,9.12,123.12,118.0

*Upon looking at the dataframe I can see the first 5 records and the lowest sum for quanity sold and revenue before tax about 55 and for the last 5 records the lowest sum for quantity sold and revenue before tax is about 33 which means that sales and revenue before tax were behaving differently across different dates.*